*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(slike/bckgrnd.png);
    background-size: cover;
    height: 68vw;
}
header{
    height: 30vw;
    margin-left: 5%;
    margin-right: 5%;
}
#i0001{
    float: left;
    width: 400px;
    height: 300px;  
}
#p0001{
    margin-top: 2%;
    margin-bottom: 0.8%;
    float: left;
    font-size: 300%;
    display: block;
    color: gold;
    text-transform: uppercase;
    padding-left: 10%;
    word-spacing: 35px;
    text-shadow: 1px 1px 2px rgb(31, 30, 30), 0 0 25px goldenrod, 0 0 5px rgb(155, 133, 9);
}
.cboth{clear: both;}
#n0001{padding-top: 0.5%;
    padding-bottom: 0.5%;
    float: left;
    width: 89vw;
    background-color: gray;
}
.a0001 {
    padding-left: 2.4%;
    padding-right: 2.4%;
    text-decoration: none;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    font-weight: bold;
}
.a0001:hover{padding-bottom: 0.5%;
    padding-top: 0.5%;
    background-color: rgb(170, 170, 170);
}
main{
    background-color: rgb(200, 200, 200);
    margin-left: 5%;
    margin-right: 5%;
    min-height: 30vw;
    padding-top: 1%;
    padding-left: 4.5%;
    color: rgb(32, 32, 32);
}
main h1{text-align: center;}
#tvojBr{
    text-align: center;
    margin-top: 5%;
margin-bottom: 5%;
}
#poruka{
    text-align: center;
}
#drugiBr{
    margin-bottom: 5%;
    text-align: center;
}
footer{
    margin-top: 2%;
    text-align: center;
    color: lightgray;
}